name: Assign PR to creator

on:
  pull_request:
    types:
      - opened

jobs:
  automation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Assign PR to creator
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GH_TOKEN_PROJECT_ACCESS }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/AuroraEditor/AuroraEditor/issues/${{ github.event.pull_request.number }} \
          -d '{"assignees":["${{ github.event.pull_request.user.login }}"]}'
